<!-- 页脚 -->
<footer class="main-wrap main-footer c-w1">
  <div class="footer mt-60 container">
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <div class="flex-column-flex-start-between box-1 h-100 compony">
          <img src="../img/yingyinbiqrcode.jpg" alt="" style="height: 38px;"> DAN
          <div class="info mt-35">
            <i class="iconfont icondianhua" ></i>
            <span>0755-XXXXXX</span>
          </div>
          <div class="info">
							<i class="iconfont iconyouxiangyoujian"></i>
              <span>https://github.com/maYunLaoXi/dan-cli</span>
          </div>
          <div class="info">
							<i class="iconfont icondizhi1"></i>
              <span>深圳市宝安区</span>
          </div>
        </div>
      </div>
      <div class="col-md-8  col-xs-6">
        <div class="row">
          <div class="col-md-1-5 right-box col-xs-6">
            <h4>产品</h4>
            <div class="info mt-30 flex-column-flex-start-between">
              <a href="/productions/eos.html">EOS开发平台</a>
              <a href="/productions/bps.html">BPS流程平台</a>
              <a href="/productions/email-work.html">腾讯企业邮箱</a>
              <a href="/productions/wx-work.html">腾讯企业微信</a>
              <span>金格电子签章</span> 
            </div>
          </div>
          <div class="col-md-1-5 right-box col-xs-6">
            <h4>解决方案</h4>
            <div class="info mt-30 flex-column-flex-start-between">
              <span>企业移动门户平台</span>
              <span>企业协同办公平台</span>
              <span>智慧办公人脸通行</span>
              <span>智慧网点VIP人脸识别</span>
              <span>智慧数据中心电子巡检</span> 
            </div>
          </div>
          <div class="col-md-1-5 right-box col-xs-6">
            <h4>服务</h4>
            <div class="info mt-30 flex-column-flex-start-between">
              <span>培训</span>
              <span>技术支持</span>
              <span>客服留言</span>
            </div>
          </div>
          <div class="col-md-1-5 right-box col-xs-6">
            <h4>关于我们</h4>
            <div class="info mt-30 flex-column-flex-start-between">
              <span>EOS开发平台</span>
              <span>BPS流程平台</span>
              <span>腾讯企业邮箱</span>
              <span>腾讯企业微信</span>
              <span>金格电子签章</span> 
            </div>
          </div>
          <div class="col-md-1-5 right-box col-xs-6">
            <h4>品牌专区</h4>
            <div class="info mt-30 flex-column-flex-start-between">
              <span>VI视觉手册下载</span>
              <span>LOGO文件下载</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="main-footer-bottom main-wrap c-w1" style="background: #071025;">
  <div class="text">
    <span class="f-l">CopyRight © 2010- 2020 All Right Reserved DAN/CLI 版权所有V5.1</span>
    <span class="f-r">粤ICP备0000001号-1</span>
  </div>
</div>